.lv {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 35px;
  width: 60px;
  height: 28px;
}
@for $i from 0 through 6 {
  .lv#{$i} {
    background-image: url('./img/Lv.#{$i}.png');
  }
}

.lvTop {
  width: 75% !important;
  margin-top: 40px !important;
}