.container {
  text-align: center;
}

.input {
  width: 70%;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  outline: none;
  font-size: 30px;
  border: none;
  color: #666;
  border: 3px solid #888;
  text-align: center;
}

.pw {
  width: 70%;
  text-align: left;
  margin: 10px auto 10px;
}