.container {
  @include bg('reward-bg', 720px, 155px);
  left: 0;
  bottom: -20px;
  position: absolute;
  > div {
    position: relative;
    top: -40px;
  }
}
.item {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 116px;
  height: 126px;
  margin: 0 6px;
  position: relative;
}
.red {
  background-image: url('./img/prize2.png');
}
.green {
  background-image: url('./img/prize.png');
}
.gift {
  width: 100%;
  background: none;
  border: 0;
  margin-bottom: 5px;
  > img {
    border-radius: 100%;
  }
}
.amount {
  white-space: nowrap;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  background-color: #01b665;
  border-radius: 13px;
  border: solid 2px #ffffff;
  position: absolute;
  bottom: -10px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
}