
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: rgba(#000, 0.5);
  transition: opacity .3s ease;

  &__wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: #009975;
    width: 600px;
    border: solid 4px #daffe4;
    border-radius: 20px;
    min-height: 500px;
  }

  &__close {
    width: 25px;
    height: 25px;
    background-image: url('./img/close.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 24px;
    right: 26px;
    z-index: 999;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }

  &-leave-active, &-enter-active {
    transition: opacity .3s;
  }
}