.count {
  position: relative;
}
.coin {
  width: 720px;
  height: 1000px;
  position: absolute;
  z-index: 9;
}
.home {
  bottom: 5px;
  left: -38px;
}
.game {
  top: 0;
  left: -150px;
  &:lang(ar) {
    left: 0;
    right: 0px;
    transform: rotateY(180deg);
  }
}