.container {
  width: 650px;
  height: 230px;
  margin: -12px auto 0;
  position: relative;
  padding-top: 40px;
}
.tip {
  color: #007b6c;
  text-align: center;
  font-weight: bold;
  margin: 24px auto;
}
.plug {
  font-size: 60px;
  color: #007b6c;
  text-decoration: none;
  margin: -20px 10px 0;
}